
        <div class="card" style="width: 18rem; height:auto;">
            <img src="{{image}}" class="card-image-top" alt="........">
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">Pet animals are friendly animals that need love and affection from humans. 
                They are the best friends of human beings. Pet animals are beautiful animals that 
                need shelter for them to be protected. Dogs, cats, rabbits, and birds are the most popular pet animals</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        
